html {
 background-color: navy;
}
body {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: darkred;
}
nav {
 position: absolute;
 top: 5%;
 right: 2%;
 left: 2%; 
}