/* ------  Login and Create Authentication styles  ------ */
/* ------  Login :: Start ------ */
* { user-select: none; }
#title {
	letter-spacing: 0.3em;
	user-select: none;
	text-align: center;
	font-size: 4em;
	font-family: "Footlight MT", serif;
}
#loginTitle, #createTitle {
	text-align: center;
	margin-top: 0px;
	padding-top: 20px;
}
#authentication {
	position: absolute;
	left: 30px;
	top: 160px;
	width: 280px;
	height: 50px;
}
#form-login {
	position: absolute;
	left: 10px;
	top: 80px;
	width: 500px;
	height: 200px;
	background-color: midnightblue;

}
label {
	color: white;
}
.align-input {
	width: 300px;
	height: 30px;
	border-radius: 5px;
	font-size: 1.4em;
	font-family: 'californian fb';
}
.align-input input {
	position: absolute;
	left: 130px;
	font-size: 1em;
	font-family: 'californian fb';
	border-radius: 5px;
}
#login {
	position: absolute;
	left: 340px;
	top: 250px;
	width: 520px;
	height: 320px;
	background-color: dodgerblue;
	border: 20px solid mediumblue;
	box-shadow: 25px 25px 10px 10px rgb(0,0,0,0.6);
	display: none;
}
#cancelLogin {
	position: absolute;
	left: 260px;
	top: 140px;
	width: 95px;
	height: 35px;
	font-family: 'californian fb';
	font-size: 1.3em;
	background-color: snow;
	color: black;
	text-align: center;
	align-content: center;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
}
#loginButton {
	position: absolute;
	left: 152px;
	top: 140px;
	width: 95px;
	height: 35px;
	font-family: 'californian fb';
	font-size: 1.3em;
	background-color: snow;
	color: black;
	text-align: center;
	align-content: center;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
}
#loginLink {
	position: absolute;
	left: 10px;
	top: 0px;
	width: 75px;
	height: 40px;
	font-size: 1.3em;
	cursor: pointer;
	user-select: none;
}
#createLink {
	position: absolute;
	left: 100px;
	top: 0px;
	width: 175px;
	height: 40px;
	font-size: 1.3em;
	cursor: pointer;
	user-select: none;
}
#usernameBox {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 450px;
	height: 40px;
	background-color: midnightblue;
	padding: 0px;
	margin: 0px;
}
#passwordBox {
	position: absolute;
	left: 20px;
	top: 80px;
	width: 450px;
	height: 40px;
	background-color: midnightblue;
	padding: 0px;
	margin: 0px;
}

/* ------  Login :: Stop  ------ */

/* ------  Create :: Start  ------ */
#create {
	position: absolute;
	left: 320px;
	top: 120px;
	width: 600px;
	height: 650px;
	background-color: dodgerblue;
	border: 20px solid mediumblue;
	box-shadow: 25px 25px 10px 10px rgb(0,0,0,0.6);
  display: none;
}
#form-account {
	position: absolute;
	left: 10px;
	top: 100px;
	width: 578px;
	height: 500px;
	background-color: midnightblue;
	margin: 0px;
	padding: 0px;
}
#fnBox {
	position: absolute;
	left: 40px;
	top: 20px;
	width: 520px;
	height: 50px;
	background-color: midnightblue;
}
#unBox {
 position: absolute;
 left: 40px;
 top: 80px;
 width: 520px;
 height: 50px;
 background-color: midnightblue;
}
#pwBox {
 position: absolute;
 left: 40px;
 top: 140px;
 width: 520px;
 height: 50px;
 background-color: midnightblue;
}
#hintBox {
	position: absolute;
	left: 40px;
	top: 350px;
	width: 520px;
	height: 50px;
	background-color: midnightblue;
}

#recoveryBox {
	position: absolute;
	left: 20px;
	top: 220px;
	width: 500px;
	height: 120px;
	background-color: midnightblue;
}
#recovery {
	position: absolute;
	left: 0px;
	top: 10px;
	width: 300px;
	height: 50px;
	background-color: midnightblue;
	font-size: 1.8em;
	color: snow;
	margin: 0px;
}
#recoveryQuestion {
	position: absolute;
	left: 20px;
	top: 70px;
	width: 350px;
	height: 50px;
	background-color: midnightblue;
	font-size: 1.4em;
	color: snow;
	margin: 0px;
}
#createButton {
	position: absolute;
	left: 170px;
	top: 400px;
	width: 95px;
	height: 35px;
	font-family: 'californian fb';
	font-size: 1.3em;
	background-color: snow;
	color: black;
	text-align: center;
	align-content: center;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
}
#cancelCreate {
	position: absolute;
	left: 280px;
	top: 400px;
	width: 95px;
	height: 35px;
	font-family: 'californian fb';
	font-size: 1.3em;
	background-color: snow;
	color: black;
	text-align: center;
	align-content: center;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
}




/* ------ Create :: Stop  ------- */
































