html {
	background-color: navy;
	margin: 0px;
	padding: 0px;
}

body {
	position: absolute;
	top: 5%;
	right: 5%;
	left: 5%;
	bottom: 5%;
	border-radius: 20px;
	background-color: firebrick;
}
nav {
	background-color: rgba( 240, 70, 20, 0.2 );
	height: 60px;
	border-top: solid black 1px;
	border-radius: 20px 20px 0px 0px;
}
nav ul {
	padding: 13px;
	margin: 0px;
}
nav ul li.menu {
	list-style-type: none;
	display: inline-block;
	height: 30px;
	border: solid green 2px;
	border-radius: 130% 10% / 10% 70%;
	padding-right: 20px;
	padding-left: 6px;
	padding-top: 2px;
	font-size: 1.4em;
	background-color: rgba( 220, 80, 5, 0.05 );
}
a {
	padding-top: 8px;
	padding-bottom: 5px;
	border: solid black 1px;
	border-radius: 130% 10% / 10% 70%;
	color: white;
	background-color: rgba( 0, 0, 200 );
}
nav ul a:hover {
	padding-top: 8px;
	padding-bottom: 5px;
	border: solid black 1px;
	border-radius: 130% 10% / 10% 70%;
	background-color: green;
	color: white;
}


header {
	position: absolute;
	left: 0px;
	top: 75px;
	width: 100%;
	height: 140px;
	background-color: seagreen;
	padding: 0px;
}
header #title {
 padding: 10px;
	margin: 10px;
}
#authentication {
 position: absolute;
	left: 60px;
	top: 105px;
}

#login {
	position: absolute;
	left: 200px;
	top: 80px;
}
#create {
	position: absolute;
	left: 200px;
	top: -25px;
}