<!--
 File name:  flexbox.html
 Created:    Monday, November 24, 2025
 Author:     Peter A. Martin
 Purpose:    Explore Flexbox
-->

<html>
 <head>
  <title>Flexbox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
   * { margin: 0px; padding: 0px; }
   html { background-color: navy; }
   body { position: absolute; top: 5%; right: 5%; bottom: 5%; left: 5%; 
    background-color: black; color: white; 
   }
   a { color: white; text-decoration: none; font-size: 14pt; }
  </style>
  <script>

   function main() {

   }
  </script>
 </head>
 <body>
  <h1 id="title">Flexbox</h1>
  <a href="layout.html">Layout</a>
 </body>
 <script>
  main();
 </script>
</html>








