/*  
	author:		Peter A. Martin
	filename:	main.css
	related files:  secret.html
	date:  		Wednesday, November 18, 2020

*/
/* ---------------      --------------------- */


/* ---------------   START:  body   --------------------- */
html {
	background-color: teal;
}
body {
	max-width: 1000px;
	height: 600px;
	margin: 30px auto;
	color: rgb(255, 255, 255);
}
header {
	width: 100%;
	height: 75px;
	background-color: salmon;
}
nav {
	width: 100%;
	height: 50px;
	background-color: firebrick;
	padding-top: 25px;
}
aside {
	float: left;
	width: 20%;
	height: 502px;/* 1041px */
	background-color: lightcoral;
}
section {
	float: right;
	width: 80%;
	height: auto;
	background-color: blue;
}
article {
	width: 90%;
	height: auto;
	background-color: midnightblue;
	color: aliceblue;
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
	font: 16pt 'century schoolbook';
	line-height: 22px;
}
footer {
	clear: both;
	width: 100%;
	height: 75px;
	background-color: crimson;
}


/* ---------------   END:  body   --------------------- */

h1 {
	font-weight: normal;
	font-size: 3em;
	padding-top: 5px;
	font-family: 'californian fb';
	color: black;
	letter-spacing: 0.4em;
	text-align: center;
}
p {
	border-radius: 20px;
}

figure {
	margin: 0px;
}
figure.floatImage {
	float: left;
	margin-right: 15px;
	padding: 0px;
}


/* ---------------   START:  navigation links   --------------------- */
nav ul {
	margin: 0px;
	float: left;
}

nav ul li {
	display: inline;
	font: 22pt 'century schoolbook';
	height: 60px;
	margin-right: 20px;
	padding: 6px 14px;
	letter-spacing: 4px;
	border-radius: 15px;
	background-color: navy;
	color: black;
	text-align: left;
	align-content: center;
}
nav ul li a {
	text-decoration: none;
	margin: 20px;
	padding: 10px;
	height: 40px; 
}
nav ul li a:link {
	color: white;
}
nav ul li a:hover {
	color: yellow;
}
nav ul li a:visited {
	color: white;
}
nav ul li a:active {
	color: green;
}

/* ---------------   END:  navigation links   --------------------- */

/* ---------------      --------------------- */



























