/*  
	author:		Peter A. Martin
	filename:	main.css
	related files:  layout.html
	date:  		Wednesday, November 18, 2020

*/
/* ---------------      --------------------- */


/* ---------------   START:  body   --------------------- */
body {
	max-width: 1000px;
	height: 600px;
	margin: 30px auto;
	color: rgb(255, 255, 255);
}
header {
	width: 100%;
	height: 40px;
	background-color: salmon;
}
nav {
	width: 100%;
	height: 40px;
	background-color: firebrick;
}
aside {
	float: left;
	width: 20%;
	height: 100%;
	background-color: red;
}
section {
	float: right;
	width: 80%;
	height: auto;
	background-color: blue;
}
article {
	width: 90%;
	height: auto;
	margin: 30px auto;
	background-color: dodgerblue;
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
}

/* ---------------   END:  body   --------------------- */


div.floatImage {
	float: left;
	margin-right: 15px;
	padding: 0px;
}
footer {
	clear: both;
	width: 100%;
	height: 30px;
	background-color: green;
}

/* ---------------   START:  navigation links   --------------------- */
nav ul {
	margin: 0px;
}

nav ul li {
	display: inline;
	font-size: 1.3em;
	background-color: black;
	margin: 20px;
	padding-bottom: 10px;
	padding-top: 5px;
}
nav ul li a {
	text-decoration: none;
	margin: 20px;
	padding: 10px;
}
nav ul li a:link {
	color: white;
}
nav ul li a:hover {
	color: yellow;
}
nav ul li a:visited {
	color: white;
}
nav ul li a:active {
	color: green;
}

/* ---------------   END:  navigation links   --------------------- */

/* ---------------      --------------------- */



























