html { background-color: navy; padding: 0px; margin: 0px; }
body {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    padding: 10px 50px 50px 100px;
    background-color:black;
    color: lavender;
    border-radius: 10px;
}
h1#title {
    position: absolute;
    top: 10px;
    right: 10%;
    left: 10%;
    height: 80px;
    background-color: maroon;
    color: lavenderblush;
    font-family: 'californian fb';
    font-size: 42pt;
    font-weight: normal;
    letter-spacing: 15px;
    word-spacing: 10px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}
#links {
    position: absolute;
    left: 80px;
    top: 200px;
    
}
a:link {
    color: lavenderblush;
}
a:visited {
    color: lavenderblush;
}
a:focus {
 color: lavenderblush;
}
a:hover {
 color: lavenderblush;
}
a:active {
 color: lavenderblush;
}

















